@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  font-size: 16px;
}

.dashed-border {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='12%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.dashed-horizontal-divider {
  background-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 0.5px 25px;
  background-repeat: repeat-y;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
